In [12]:
from Bio import SeqIO
import numpy as np
import pandas as pd
import math
import plotnine
from fastDamerauLevenshtein import damerauLevenshtein

In [5]:
pip install fastDamerauLevenshtein

Collecting fastDamerauLevenshtein
  Using cached fastDamerauLevenshtein-1.0.7.tar.gz (36 kB)
Building wheels for collected packages: fastDamerauLevenshtein
  Building wheel for fastDamerauLevenshtein (setup.py) ... done
  Created wheel for fastDamerauLevenshtein: filename=fastDamerauLevenshtein-1.0.7-cp38-cp38-linux_x86_64.whl size=19617 sha256=c2d0f7b3609c26d44872011fba76bc842c36b5354178937bf42ca539ae01d1fa
  Stored in directory: /vortexfs1/home/akrinos/.cache/pip/wheels/91/42/0c/b68ca2076f8935222ebee53cfc5c8c3aa8ad6046c8fddda14b
Successfully built fastDamerauLevenshtein
Installing collected packages: fastDamerauLevenshtein
Successfully installed fastDamerauLevenshtein-1.0.7
Note: you may need to restart the kernel to use updated packages.

In [2]:
cluster_seqs_fr=[]
with open("/vortexfs1/omics/alexander/akrinos/2022-euk-diversity/code/output/levenshtein/clustered_mmetsp_file/sequences_more_than_500.fasta","r") as f:
    cluster_seqs_fr=[curr.seq for curr in SeqIO.parse(f,"fasta")]

In [3]:
cluster_seqs_fr[1:3]

[Seq('TTCTGGTTTTATAATAATACGTCAATATACTACATAATAATAGTAAATCGGAGT...AGG'),
 Seq('GGGCTGTACATCATCAGGGGGGACAACATCGCGGTCATCGGCGAGCTGAACGAG...GCG')]

In [162]:
#>gnl_Ostreococcus_mediterraneus_Strain_clade-D-RCC2573_MMETSP0936-20121108_2572

cluster_seq1="GGCGCCGCCGGCGCGCGCCGCCGAGCCCGAAAGCGTCGTCGAACCGGCGCCGCCGATCGCCGTCGTCACGGACGCCGTCGCGACGCTCTCCGTCGCCGCGGCGTCCGCGCCACCGGCGTGTGCGACGCCGCTCGCGAGAGTGTCCAAGGTTAAGGTTGATTTCCGCCCGTTCGGGGCGCCGCTCGCGTTTTTGGCTGCGGCGAAGATGCTCGGGATGGATGTCGCGTGCGGCGAGCAGGTCAAGACGGCGCCGGAAACGCCGACCGCCGTCGTCGATGGCGGCGCGATGACCATCGTCGGCGCGCTGAATATGGTGGATGCGATCGTGAGTGCGGTTGATGGGGATTCTACGCTCATGGGCGCGAGCGCGGGCGAAGCGGAGGCGATTCACCATTGGTTGGCGCAGGCGAAGAACTTTCTTCCGGGCGGCGGGTTTGAGCGACAGTGCGAGCAAATGGACGAATACTTGGCGACGCGCACGTATTTGGTTGGACACGCGATAACGCTCGCGGATTTAGCCATGTGGGCTGAGTTTACGACGAACCGTCAGTGGCTGGTGATTGTGAAGAAGAACAAGTGCGCCAACGTGCAACGTTGGTTGGCGACGTTGAACGCCGACGAGACGTTGGGAGCCGTCGTCGCAGAATCGGACGCTGGAAACCCAGTCTTGGCGAAAAAAGCCCCGGTTGGGACGTCGGACGGTGCGGGTAGTAAGAAGAAGGCGGCTACGACTGGTTCGTTCGAAGTGGATCTTCCTGGAGCTGAAGATGGCAAGGTGGTGACGCGTTTTCCGCCCGAGCCGTCTGGATTTTTGCACATCGGCCACGCCAAGGCGGCGTTGTTGAACCACTACTTTGCGCGTCGGTACAACGGTAAGCTCATCGTTCGGTTCGATGACACGAACCCTGATAAAGAAAACAACGATTTTGTGGATAGCATCATGGAGGACATCGCCACGTTGGGTCTCGATCCCGACGTCGTGACGTACACGTCTGATTCCTTTGACGCCATTCTTAAGATGGCTGATAAGCTCATCAAGGAGGGCAAGATGTACATCGACACGACGCCCGTGGACAAAATGCGTGAAGAACGCATGGCCCGTGTCGAGTCAAAGTGCAGAAGCCAAAGTGTGGAGGAAAACTTGCGTCTTTGGAATGAAATGAAGGCGGGTTCTGAAGAGGGTGTTGCGTGTGCCGCGCGATTCAAGATTGACATGTCTCACAACAACGGTTGCATGCGTGATCCTGTCGCGTATCGATGCAACGTGAATACGCCGCACCATCGTACAGGTACCAAGTACAAGGTGTATCCGACGTACGATTGTGCGTGCCCTTTTGTTGACGCGCATGAAGGCGTCACGCATGCGTTGCGAACTTCTGAATACGCTGACCGCGAAGATCAATACATCTGGATTCAAAAAGCTATGGGTTTGCGCAAGGTGCACATCTGGGAATACAGTCGTTTAAATTTGGAGTACACCACGCTCTCCAAGCGCAAGTTGCAATGGTTCGTCGACGAAGGTCACTCTACTGGTTGGGACGATCCACGCTTCCCAACTGTGCAAGGTGTCACGCGCCGAGGCTTGAAGGTTGAAGCGCTCAAGGAGTTTATGCTTTCACAAGGGGCGAGCAAAAACTGCAACTTGATGGAGTGGACGAAGATTTGGGCCATGAACAAGAAGATTATCGATCCCATTGCTCCCCGTCATGTATGCGTCGCCGACGAAGACCGCGTCGTCGTCAACGTGCTTGGTTTCCCCGACGGCGAGCACTGGTACACCACGCCAAAGCACAAGAAGAATCCGGATGTGGGTATCAAAGTGACCTTGCGTATGAAGGAAATCCTCCTCGAACAAGCCGACGCGCAATTGATAAGCGAAGGAGAGGAATGTACGCTCATGGATTGGGGTAA"

In [163]:
len(cluster_seq1)

1911

In [158]:
#>gnl_Heterosigma_akashiwo_Strain_CCMP2393_MMETSP0295-20121207_5922
cluster_seq2="TTCTGGTTTTATAATAATACGTCAATATACTACATAATAATAGTAAATCGGAGTCAAAAACTACTTTCACCACTTGTGTCATAGCCCGCTGCTCCCATTTGGAGACAGGGAACCATCCAATTCAGACCATAATATAATAATGAAAAAATAAAGGTTGATCAATCACCTTATATAAATTACTACATTCAAAATCAAATCTGTATTTTTGGGAGGAGGGCCTTATTTTTTGTCACGACCGCAGAGTTTTGATAACATCTTCTGCCCATAACAGCAACAAAAATCATTCAACCACTGCATACAGAATCACAAAAAGGGCAGTTGATTTCAGTACAATGAGCAVYGSGWTKCTGTCYRCKSAGTWTRTGATGACCGAGTCTCTTGCATCACATATCAGTAGAAGAAAAGAGGGGCGCGCGCTCCTAACGGGTCATCTGCTTGTCACCATAAACTGCGCGGACAGCATCGCGCTGCTGCTTGATAGCGGCCCCAGCCTCCATAGCATTGTCAACCCAGAGGAATTTATCCATCATGCACATACCGCAGCATGGTGTGCAGCACACAGGGACGCAGGGGAGTGGGAACATTGACCGGTAGCAGCAACCGGCACAGAAAGGTGAAGAAAGTTGAAGGAGCTGACCATGTCCACCGCAGCACATGGTTCTGCAGTCATTGCAGCATCTGGTCTTGTCTGTAATTTGGTCCATGATCATAGCATCATAGTACACCACGTGTACATTGTCAGCAACTCGATAGCCACATATGGAGTTCCCGCAGCAGGCCCCCTTCTCGCTCGAAAGGCCAGGCATGTTGAATTCCACCGAGTTCTCGCGGACGTACACGTATGTACTTTCCTCTGTTGCCTTGGTGATGTATTCTGGTAAGGTGCAACACGGACAGACGGCACAGATGGGGCACATTTCAGGGGCATAGCAGACTTCGCAGCAAGGACCTTGCCGAACGCCAGGCACCACGTCCTTAACGATGCCAATGGCATTCGGGGCTTGGCGGTGGATAACTGGACGCCATTCTTTGGGATTGGCCATTATGTCTATTTTTGCCTGCCTTGTCTAGGACTATAATAGTCTTGATTTATTGACTCCGTATACGAAGTATAATAGCGAGGATTTGAATTTTGAGAATTTTTGTTAATGGGTATTGAACAACAAGGTGCCCTACAAAGTAGGTCTAGATCAATGTGGAGAGGTGCAGGTCCTAGTTAAATTTTTTTTGATTTTGTGTGGTGTTATTATATATACAATGATGCCTCCTCTCTGGGCCCTTTTGCTTTTATTTGCCTCTCTCATTCATACCACAGAGTCACTGAGGATTCATTCACAAATCTGTTCCAAAAGATTCAATATCTTTTCAGTTGTAGTGCGTATCATGCCCTGATTTCTGGAGTATATACTTTACTACCGTAGTAGCAAAACGAGGGGCCAGTTGTGCAAAATCCAGCCCTCTGCATGTCCAACCCCTTCGGCATGAGGGGAGACGGCAGGGACTGAGATTTTGCACATCAAAGAAACATCACTGCTGCCCTTAACAAACATCAAACTTGGGTTGTATATACCACAAAAGCAAAAGTTATTCTATATATATGTGAGTTCCACCAAAAAGCTTTATTCAATTAACTTGAATTCATTATGTTCATTAAGCGTTTATTTGAAACTGGAAAACGCCAAACCAGATTACGTTATTTATGTACTACACTTCGACAGTTTACTTGGACATCATCATCTTCACGAACTCCTCGTAGTTGATCTGGCCATCACCATCAATATCGGCCTCACGAATCATCTCATCGACTTCCTCATCGGTAAGCTTTTCACCAAGGTTGGTCATGATGTGTCTGAGCTCAGCAGCGCTGATAAAACCGTTGCCATCCTTGTCGAACACCTTGAATGCCTCGAG"

In [159]:
len(cluster_seq2)

1911

In [215]:
cluster_seq3="CGCTGTCCCCCATCGGCGAAATCGGCACCTGTGGCCTGCCGCTGCCTCGGGGCCCCGCTTTGAGCATCTTCGGCGGAGCCGGAGAAGCCCTGATCTCCGGAGCGTCGTCCATGTCGATGACCTCGTCCCGCATCGCCGGTGGTGGCTGCTTGTCCCGGAGACCTGCAGGAGTGATCTTCTGGCCGGTCCACGGCGTTGATGACCTCCCAGTCGCCCGCATCATGGGCGAATCCGCGCTGGGAGAGTCCTGCAGCATGTCCTCCACCGGGGCCCGGAACCTCGCCTCCTGCGTCGCGCGTCGTGCGTCTTCGACGATTTGCGACGGGCTCGGGGAGCGGCTACGGAGACCGGCTGCGGTCGCTGCCGTAGCCTGGCACCGGTGACGTACCACGTGGCCCCGCCGGCTGCGCGGCCGTGCTGGTCCACAACATGGAGGGCGGCACGGGCGACGACTTCATGTCGGCGACGCCGTCCACTTCGATGCCGACGTCCTCCGGGATCTCCATGCCGGCAACTGGCGACTGACGTGGGCCCCGCACGGACGATCCTGCCGGGGACAGCATCGACGGGACGAGCGACGGCACCGACTGCCCGACCTGGAGCATGCTGGGCGGAGTTGGCGAGGACCGCATGGCGGGCACTGCCGCGTCGATGACGAGGTCGTCCACGTTGATGACCGGCACCTCGGAGCCGAGGCCGGAGGAGACAGTCTCGGCGATGGGGTCCCCGAGGCCGGAGGAGACGGTCTCGGCGGCGGGCTCCATGTCGAAGAACTGCGGCGCCGGCACGGGGGCACCGGCGGTGATGCCCGCGGCCACGTCCACAGCGATGCGCTCGTCGTCGCTTTCGTAGAGGGCGCCGACACCTCCGCCCATCGGCGGCGGCCCCAAGCTGGCCACCAGGTCGCGGGGAGAGGCCGGGGTCTCCGGGGCCACGGAGGGCTCCGCGTCTGGCTCGAGCGAGGGCGTCATGATGCCGCCTGGGAAAGCCCCAGGGAAGCCTCCTGGGAAGCCTCCCGGGAAGCCTGGGACGCCCTTCTGGGCCTCCAACTCCTTCTCCTTTGCGTCGGCCCTCTCCGCTCTTTCTCGCAACCTTCTCCTCCCTTTCCAAGCGAGAAAGCAGCACATGGAGCAGCATGTCAAGATGATGATGCCGATGCCAAAGCTGGCGGCGCTCACGTCCGCTTCAGTGTCGGTAGGGAAGGGCGCTGCTGGGATATCTTCACCTGGCGCTTCTACGTTCCATCCCGTCTCGATTTCAACGTTGAAGGGGACGGCATCGGTGTAGTCGAACTTGACCACCTGGATGATGTTACTGTTGTTCGTGAGGGACTCCTCATAGGCCAATCTCTCAGGTGTGTTCTCAAGGGTGAGGTTCACGGCCGCTGCCTCGAAGATGGTCACGTCTCCGCTCGGCCACAAGAGCTGGTAGGATATGTTGTACCTCCTGCGGACTGTCCCATCAGCTGCCACGTTGGGATCCACGAGCGTGTAATCGATCACGGCCCACTCCACTTTGTTCATCGTGAAGTTGATGGCGTAGGTGGCAGTCTGCCCGTGCAAGAAAGCCCCGAAGAGCCAATGCTGGGATGGATTTGACCCATCTCCGCAGTCCGCGAGCTCTACTGTATTGCCGGCCACCGGCTCTGATGTGGCGGCGCCGACGCACTTTGTATTGTCCGCCGCCCAGAGGATGTGCCCGGTGCTGCTCACGTAGTAGAACTGCTGCGTGGTTGCACCATCGACGCAATCCTCGACCACGATGGGCCGGCTAGCGTCGCCGTCGCTGCCGCTCACCGCGAGGCATTTGAACGGGTGGGTCGCGTACACAATGTAGCCTGTTGCATCCGGACCCGAGTCCATCTGGAACTGAAGCAGAAAGCCGCCGCCGGTTCCGCAGTCCGCGATGGTCAGGGCGGTCTGCGGTGCAGAGACCGACCCACTGGCTTCCATGCACTGATCTGGGTACTCCACCCACTGGATGACTCCGTAGACAGTCTCCC"

In [4]:
seq_vect_0996=[]
with open("/vortexfs1/omics/alexander/data/mmetsp/MMETSP0996_clean.fasta","r") as f:
    for curr in SeqIO.parse(f,"fasta"):
        seq_vect_0996.append(curr.seq)

In [5]:
len(seq_vect_0996)

20513

In [7]:
def get_kmers(seq_in,kmer_list=[10]):#[5,10,15]):
    return set([seq_in[a:a+k] for k in kmer_list\
             for a in range(1+len(seq_in)-k)])

kmer_list = []
[kmer_list.extend(get_kmers(curr)) for curr in seq_vect_0996[0:200]]
kmer_list = list(set(kmer_list))
kmer_df=pd.DataFrame()
ctr=1
for curr in seq_vect_0996[0:200]:
    curr_df=pd.DataFrame({"kmers":kmer_list,
                          "seq":"Seq"+str(ctr),
                          "kmer_ct":[curr.count(kmer) for kmer in kmer_list]})
    kmer_df=pd.concat([kmer_df,curr_df])
    ctr=ctr+1
    if ctr % 100 == 0:
        print(ctr,flush=True)

100
200

In [24]:
list(kmer_df.kmers)[0]

Seq('CTCGTGTCCG')

In [29]:
kmer_df["strkmers"] = [str(curr) for curr in kmer_df.kmers]

In [32]:
kmer_df.groupby("strkmers").kmer_ct.agg(["mean","std"]).reset_index().sort_values("mean",ascending=False)

          strkmers   mean       std
84866   GGCGGCGGCG  0.325  0.672037
42949   CGCCGCCGCC  0.315  0.646424
76194   GCGGCGGCGG  0.280  0.681116
47481   CGGCGGCGGC  0.245  0.544479
33929   CCGCCGCCGC  0.235  0.510960
...            ...    ...       ...
42860   CGCCGAGTAG  0.005  0.070711
42859   CGCCGAGTAC  0.005  0.070711
42854   CGCCGAGGGA  0.005  0.070711
42840   CGCCGAGCCT  0.005  0.070711
117641  TTTTTTTGGG  0.005  0.070711

[117642 rows x 3 columns]

In [28]:
kmer_df.loc[kmer_df.kmers=="GGCGGAGGCG"].sort_values("kmer_ct",ascending=False)

                                kmers     seq  kmer_ct
79887  (G, G, C, G, G, A, G, G, C, G)  Seq143        8
79887  (G, G, C, G, G, A, G, G, C, G)   Seq51        3
79887  (G, G, C, G, G, A, G, G, C, G)    Seq8        2
79887  (G, G, C, G, G, A, G, G, C, G)  Seq183        2
79887  (G, G, C, G, G, A, G, G, C, G)  Seq148        1
...                               ...     ...      ...
79887  (G, G, C, G, G, A, G, G, C, G)   Seq72        0
79887  (G, G, C, G, G, A, G, G, C, G)   Seq73        0
79887  (G, G, C, G, G, A, G, G, C, G)   Seq74        0
79887  (G, G, C, G, G, A, G, G, C, G)   Seq76        0
79887  (G, G, C, G, G, A, G, G, C, G)  Seq200        0

[200 rows x 3 columns]

In [20]:
len(set(kmer_list_5))

1024

In [15]:
len(kmer_list)

117642

In [11]:
kmer_df.sort_values("kmer_ct",ascending=False).head()

                                kmers     seq  kmer_ct
79887  (G, G, C, G, G, A, G, G, C, G)  Seq143        8
5456   (G, C, G, G, A, G, G, C, G, G)  Seq143        8
52127  (C, T, C, C, T, C, C, G, C, C)   Seq54        6
1577   (A, G, G, C, G, G, A, G, G, C)  Seq143        6
69954  (G, G, A, G, G, C, G, G, C, G)  Seq143        6

In [49]:
np.mean([len(curr) for curr in seq_vect_0996])

854.286598742261

In [33]:
seq_vect_0936=[]
with open("/vortexfs1/omics/alexander/data/mmetsp/MMETSP0936_clean.fasta","r") as f:
    for curr in SeqIO.parse(f,"fasta"):
        seq_vect_0936.append(curr.seq)

In [ ]:
def get_kmers(seq_in,kmer_list=[10]):#[5,10,15]):
    return set([seq_in[a:a+k] for k in kmer_list\
             for a in range(1+len(seq_in)-k)])

kmer_list = []
[kmer_list.extend(get_kmers(curr)) for curr in seq_vect_0936[0:200]]
kmer_list = list(set(kmer_list))
kmer_df_936=pd.DataFrame()
ctr=1
for curr in seq_vect_0936[0:200]:
    curr_df=pd.DataFrame({"kmers":kmer_list,
                          "seq":"Seq"+str(ctr),
                          "kmer_ct":[curr.count(kmer) for kmer in kmer_list]})
    kmer_df_936=pd.concat([kmer_df_936,curr_df])
    ctr=ctr+1
    if ctr % 100 == 0:
        print(ctr,flush=True)

In [ ]:
kmer_df_936["strkmers"] = [str(curr) for curr in kmer_df_936.kmers]

In [ ]:
kmer_df_936.groupby("strkmers").kmer_ct.agg(["mean","std"]).reset_index().sort_values("mean",ascending=False)

In [217]:
seq_vect_0270=[]
with open("/vortexfs1/omics/alexander/data/mmetsp/MMETSP0270_clean.fasta","r") as f:
    for curr in SeqIO.parse(f,"fasta"):
        seq_vect_0270.append(curr.seq)

In [47]:
np.mean([len(curr) for curr in seq_vect_0936])

1909.9269185514447

In [27]:
seq_vect_1066=[]
with open("/vortexfs1/omics/alexander/data/mmetsp/MMETSP1066_clean.fasta","r") as f:
    for curr in SeqIO.parse(f,"fasta"):
        seq_vect_1066.append(curr.seq)

In [48]:
np.mean([len(curr) for curr in seq_vect_1066])

765.2645894065233

In [90]:
mmetsp0936_sim_met1=[1/math.exp(np.min([len(curr_seq),len(cluster_seq)]) / (damerauLevenshtein(cluster_seq,curr_seq,similarity=False)-np.min([len(curr_seq),len(cluster_seq)]))) for curr_seq in seq_vect_0936[1:100]]
mmetsp0936_sim_met2=[(np.min([len(curr_seq),len(cluster_seq)]) - damerauLevenshtein(cluster_seq,curr_seq,similarity=False))/np.min([len(curr_seq),len(cluster_seq)]) for curr_seq in seq_vect_0936[1:100]]
mmetsp0936_sim_met3=[damerauLevenshtein(cluster_seq,curr_seq,similarity=True) for curr_seq in seq_vect_0936[1:100]]
mmetsp0936_sim_met4=[damerauLevenshtein(cluster_seq,curr_seq,similarity=False)/np.min([len(curr_seq),len(cluster_seq)]) for curr_seq in seq_vect_0936[1:100]]

In [99]:
["a","b"]*2

['a', 'b', 'a', 'b']

In [294]:
%%time
def make_clust_matrix(input_seqs,cluster_seqs=[cluster_seq1,cluster_seq2]):
    cluster_seqs_fr=[]
    cluster_nums_fr=[]
    [cluster_seqs_fr.extend([curr]*len(input_seqs)) for curr in cluster_seqs]
    [cluster_nums_fr.extend([curr]*len(input_seqs)) for curr in range(len(cluster_seqs))]
    dist_frame = pd.DataFrame({"Seqs":[str(curr) for curr in input_seqs*len(cluster_seqs)],
                               "Cluster_Seqs":cluster_seqs_fr,
                               "Cluster_Nums":cluster_nums_fr})
    #dist_frame["Metric1"] = [1/math.exp(np.min([len(curr_seq),len(cluster_seq)]) / \
    #                                    (damerauLevenshtein(cluster_seq,curr_seq,similarity=False)-\
    #                                     np.min([len(curr_seq),len(cluster_seq)]))) for curr_seq,\
    #                         cluster_seq in zip(dist_frame.Seqs,dist_frame.Cluster_Seqs)]
    dist_frame["Metric2"] = [(np.min([len(curr_seq),len(cluster_seq)]) - damerauLevenshtein(cluster_seq,\
                                                                                            curr_seq,similarity=False))/\
                             np.min([len(curr_seq),len(cluster_seq)]) for curr_seq,\
                             cluster_seq in zip(dist_frame.Seqs,dist_frame.Cluster_Seqs)]
    dist_frame["Metric3"] = [damerauLevenshtein(cluster_seq,curr_seq,similarity=True) for curr_seq,\
                             cluster_seq in zip(dist_frame.Seqs,dist_frame.Cluster_Seqs)]
    dist_frame["Metric4"] = [damerauLevenshtein(cluster_seq,curr_seq,similarity=False)/\
                             np.min([len(curr_seq),len(cluster_seq)]) for curr_seq,\
                             cluster_seq in zip(dist_frame.Seqs,dist_frame.Cluster_Seqs)]
    dist_frame["Metric5"] = [damerauLevenshtein(cluster_seq,curr_seq,similarity=True)/\
                             np.min([len(curr_seq),len(cluster_seq)])*10**6 for curr_seq,\
                             cluster_seq in zip(dist_frame.Seqs,dist_frame.Cluster_Seqs)]
    return dist_frame

def get_kmers(seq_in,kmer_list=[5,10,15]):
    return set([seq_in[a:a+k] for k in kmer_list\
             for a in range(1+len(seq_in)-k) if "N" not in seq_in[a:a+k]])

def make_clust_kmer(input_seqs,cluster_seqs=[cluster_seq1,cluster_seq2]):
    cluster_seqs_fr=[]
    cluster_nums_fr=[]
    [cluster_seqs_fr.extend([curr]*len(input_seqs)) for curr in cluster_seqs]
    [cluster_nums_fr.extend([curr]*len(input_seqs)) for curr in range(len(cluster_seqs))]
    dist_frame = pd.DataFrame({"Seqs":[str(curr) for curr in input_seqs*len(cluster_seqs)],
                               "Cluster_Seqs":cluster_seqs_fr,
                               "Cluster_Nums":cluster_nums_fr})
    dist_frame["Metric_kmer"] = [len(get_kmers(curr_seq).intersection(get_kmers(cluster_seq)))/\
                                 len(set(get_kmers(curr_seq))) * 100\
                                for curr_seq,cluster_seq in zip(dist_frame.Seqs,dist_frame.Cluster_Seqs)]
    return dist_frame

#mmetsp0936_sim = make_clust_matrix(seq_vect_0936[1:1000],cluster_seqs=[cluster_seq1,cluster_seq2])
mmetsp0936_kmer = make_clust_kmer(seq_vect_0936[1:1000],cluster_seqs=[cluster_seqs_fr[4]])

CPU times: user 1min 16s, sys: 276 ms, total: 1min 16s
Wall time: 1min 17s

In [283]:
%%time
kmer_list=[5]
print(len(get_kmers(seq_vect_0936[0],kmer_list=kmer_list).intersection(get_kmers(cluster_seqs_fr[0],kmer_list=kmer_list))))
print(len(get_kmers(seq_vect_0936[0],kmer_list=kmer_list).intersection(get_kmers(cluster_seqs_fr[1],kmer_list=kmer_list))))
print(len(get_kmers(seq_vect_0936[0],kmer_list=kmer_list).intersection(get_kmers(cluster_seqs_fr[2],kmer_list=kmer_list))))
print(len(get_kmers(seq_vect_0936[0],kmer_list=kmer_list).intersection(get_kmers(cluster_seqs_fr[3],kmer_list=kmer_list))))
print(len(get_kmers(seq_vect_0936[0],kmer_list=kmer_list).intersection(get_kmers(cluster_seqs_fr[4],kmer_list=kmer_list))))

812
821
833
816
803
CPU times: user 82.8 ms, sys: 1e+03 µs, total: 83.8 ms
Wall time: 82.6 ms

In [286]:
%%time
kmer_list=[10]
print(len(get_kmers(seq_vect_0936[0],kmer_list=kmer_list).intersection(get_kmers(cluster_seqs_fr[0],kmer_list=kmer_list))))
print(len(get_kmers(seq_vect_0936[0],kmer_list=kmer_list).intersection(get_kmers(cluster_seqs_fr[1],kmer_list=kmer_list))))
print(len(get_kmers(seq_vect_0936[0],kmer_list=kmer_list).intersection(get_kmers(cluster_seqs_fr[2],kmer_list=kmer_list))))
print(len(get_kmers(seq_vect_0936[0],kmer_list=kmer_list).intersection(get_kmers(cluster_seqs_fr[3],kmer_list=kmer_list))))
print(len(get_kmers(seq_vect_0936[0],kmer_list=kmer_list).intersection(get_kmers(cluster_seqs_fr[4],kmer_list=kmer_list))))

40
29
39
169
40
CPU times: user 154 ms, sys: 0 ns, total: 154 ms
Wall time: 153 ms

In [296]:
seq_counter=0
all_mmetsp="/vortexfs1/omics/alexander/akrinos/2022-euk-diversity/code/output/levenshtein/clustered_mmetsp_file/all_mmetsp.fasta"
seqs_cluster=[]
with open(all_mmetsp,"r") as f:
    for curr in SeqIO.parse(f,"fasta"):
        seqs_cluster.append(curr.seq)
        seq_counter=seq_counter+1
        #if seq_counter > 100:
        #    break

In [300]:
(seq_counter*11.5*10**(-3))/60/60

20.540344861111112

In [295]:
%%time
kmer_list=[10]
len(get_kmers(seqs_cluster[0],kmer_list=kmer_list).intersection(get_kmers(seqs_cluster[1],kmer_list=kmer_list)))

CPU times: user 11.7 ms, sys: 0 ns, total: 11.7 ms
Wall time: 11.5 ms

8

In [270]:
%%time
mmetsp0996_kmer = make_clust_kmer(seq_vect_0996[1:500],cluster_seqs=cluster_seqs_fr[0:5])
mmetsp1066_kmer = make_clust_kmer(seq_vect_1066[1:500],cluster_seqs=cluster_seqs_fr[0:5])
mmetsp0270_kmer = make_clust_kmer(seq_vect_0270[1:500],cluster_seqs=cluster_seqs_fr[0:5])

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.


KeyboardInterrupt

In [ ]:
mmetsp0270_kmer = make_clust_kmer(seq_vect_0270[1:500],cluster_seqs=cluster_seqs_fr[5])

In [269]:
mmetsp0936_kmer.groupby(["Cluster_Nums"]).describe()

             Metric_kmer                                                     \
                   count      mean       std       min        25%       50%
Cluster_Nums
0                  999.0  17.16901  5.741424  3.158381  12.899406  17.10642


                    75%        max
Cluster_Nums
0             21.277569  30.947368

In [242]:
mmetsp0936_kmer.groupby(["Cluster_Nums"]).describe()

             Metric_kmer                                              \
                   count       mean        std        min        25%
Cluster_Nums
0                  999.0  42.182050  16.484501  12.388889  29.271050
1                  999.0  43.057852  16.870682  12.796296  30.090446
2                  999.0  45.087641  16.794014   8.680652  32.399045
3                  999.0  41.927317  16.523412  10.438348  29.251865


                    50%        75%        max
Cluster_Nums
0             40.775401  53.586697  88.304094
1             41.648230  54.658326  89.333333
2             44.080605  56.834863  91.907514
3             40.652655  53.282912  84.971098

In [257]:
mmetsp0996_kmer.groupby(["Cluster_Nums"]).describe()

             Metric_kmer                                                       \
                   count       mean       std       min        25%        50%
Cluster_Nums
0                  499.0  22.016622  5.308386  4.052198  17.960108  22.424242
1                  499.0  22.368141  5.404072  3.813621  18.292245  22.800496
2                  499.0  22.254140  5.452513  3.777473  18.072786  22.654462
3                  499.0  24.713962  5.212116  6.166859  20.633962  24.871649
4                  499.0  22.373047  5.392231  3.911220  18.151092  22.606516


                    75%        max
Cluster_Nums
0             26.199139  32.470588
1             26.794327  33.414634
2             26.609532  34.634146
3             28.790233  35.853659
4             26.475178  33.412888

In [258]:
mmetsp1066_kmer.groupby(["Cluster_Nums"]).describe()

             Metric_kmer                                                       \
                   count       mean       std       min        25%        50%
Cluster_Nums
0                  499.0  25.639451  4.994784  5.139081  22.719948  27.070880
1                  499.0  25.627240  5.017465  5.139081  22.730072  27.020202
2                  499.0  26.204350  5.087958  5.400473  23.276081  27.697842
3                  499.0  25.557348  4.891777  5.829552  22.895047  26.282051
4                  499.0  24.916199  4.902912  5.163740  22.069790  25.972396


                    75%        max
Cluster_Nums
0             29.430422  33.009709
1             29.483107  33.333333
2             30.153500  33.688699
3             29.209622  34.259259
4             28.715850  33.178654

In [262]:
mmetsp0270_kmer.groupby(["Cluster_Nums"]).describe()#.reset_index().sort_values("count")

             Metric_kmer                                             \
                   count       mean       std        min        25%
Cluster_Nums
0                  499.0  22.536509  5.174803   7.371484  18.764773
1                  499.0  22.812109  5.169584   7.662464  19.193270
2                  499.0  22.917645  5.224752   7.468477  19.205415
3                  499.0  24.482551  5.168312  10.717750  20.929347
4                  499.0  22.888120  5.157714   9.214727  19.041736


                    50%        75%        max
Cluster_Nums
0             22.597720  26.561165  33.022388
1             22.933446  26.830760  33.476395
2             23.002421  26.952392  33.656174
3             24.505548  28.461871  37.719298
4             23.022264  26.989766  32.687651

In [197]:
cluster_seq=cluster_seq1
curr_seq=seq_vect_0996[0]
curr_seq2=seq_vect_0936[0]
curr_seq3=seq_vect_1066[0]
print(damerauLevenshtein(cluster_seq,curr_seq,similarity=True)/np.min([len(curr_seq),len(cluster_seq)]),flush=True)
print(damerauLevenshtein(cluster_seq,curr_seq2,similarity=True)/np.min([len(curr_seq2),len(cluster_seq)]),flush=True)
print(damerauLevenshtein(cluster_seq,curr_seq3,similarity=True)/np.min([len(curr_seq3),len(cluster_seq)])*10**6,flush=True)


(np.min([len(curr_seq),len(cluster_seq)]) - damerauLevenshtein(cluster_seq,curr_seq,similarity=False))/\
         np.min([len(curr_seq),len(cluster_seq)])

0.0005202080832332934
0.00024941200862370246
242.73079766728085

-1.7529411764705882

In [207]:
def get_kmers(seq_in,kmer_list=[5,10,15]):
    return set([seq_in[a:a+k] for k in kmer_list\
             for a in range(1+len(seq_in)-k)])
total_kmers = get_kmers(cluster_seq1)
print(len(get_kmers(cluster_seq1).intersection(get_kmers(seq_vect_0996[0])))/(len(set(total_kmers.union(get_kmers(seq_vect_0996[0]))))))
print(len(get_kmers(cluster_seq1).intersection(get_kmers(seq_vect_0936[0])))/(len(set(total_kmers.union(get_kmers(seq_vect_0936[0]))))))
print(len(get_kmers(cluster_seq1).intersection(get_kmers(seq_vect_1066[0])))/(len(set(total_kmers.union(get_kmers(seq_vect_1066[0]))))))

0.04684426962274271
0.0603103800762011
0.06551804969526488

In [181]:
damerauLevenshtein(cluster_seq,curr_seq3,similarity=False)

989.0

In [ ]:
(np.min([len(curr_seq),len(cluster_seq)]) - damerauLevenshtein(cluster_seq,curr_seq,similarity=False))/\
         np.min([len(curr_seq),len(cluster_seq)])

In [189]:
mmetsp0996_sim = make_clust_matrix(seq_vect_0996[1:1000],cluster_seqs=[cluster_seq,cluster_seq2])
mmetsp1066_sim = make_clust_matrix(seq_vect_1066[1:1000],cluster_seqs=[cluster_seq,cluster_seq2])

In [193]:
mmetsp0996_sim.groupby("Cluster_Nums").mean()

               Metric2   Metric3   Metric4     Metric5
Cluster_Nums
0            -2.350727  0.321621  3.350727  449.823017
1            -2.379762  0.304614  3.379762  435.249798

In [194]:
mmetsp0936_sim.groupby("Cluster_Nums").mean()

               Metric2   Metric3   Metric4     Metric5
Cluster_Nums
0            -0.526220  0.416164  1.526220  339.718344
1            -0.553014  0.399064  1.553014  327.810330

In [195]:
mmetsp1066_sim.groupby("Cluster_Nums").mean()

               Metric2   Metric3   Metric4     Metric5
Cluster_Nums
0            -4.369654  0.225814  5.369654  479.457674
1            -4.368772  0.226408  5.368772  479.922754

In [97]:
pd.DataFrame(mmetsp0936_sim_met4).describe()

               0
count  99.000000
mean    1.754425
std     1.772437
min     0.505094
25%     0.608707
50%     1.120619
75%     2.093371
max    10.175439

In [85]:
pd.DataFrame(mmetsp1066_sim).describe()

               0
count  99.000000
mean    2.719597
std     0.000189
min     2.718897
25%     2.719560
50%     2.719705
75%     2.719705
max     2.719705

In [74]:
pd.DataFrame(mmetsp0936_sim2).describe()

               0
count  99.000000
mean    0.000322
std     0.000128
min     0.000072
25%     0.000230
50%     0.000289
75%     0.000444
max     0.000523

In [75]:
pd.DataFrame(mmetsp0996_sim2).describe()

               0
count  99.000000
mean    0.000443
std     0.000096
min     0.000210
25%     0.000395
50%     0.000484
75%     0.000523
max     0.000523

In [76]:
pd.DataFrame(mmetsp1066_sim2).describe()

               0
count  99.000000
mean    0.000484
std     0.000069
min     0.000227
25%     0.000471
50%     0.000523
75%     0.000523
max     0.000523